<!--<h2>Sign up</h2>-->

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= f.label :password %>
    <%# if @minimum_password_length %>
<!--    <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--    <%# end %><br />-->
    <%#= f.password_field :password, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
    <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Sign up" %>
<!--  </div>-->
<%# end %>



<div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Create Account</h4>
    <p class="text-center">Get started with your free account</p>
    <p>
      <a href="" class="btn btn-block btn-google "> <i class="fab fa-google"></i>   Login via Google</a>
      <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
    </p>
    <p class="divider-text">
      <span class="bg-light">OR</span>
    </p>
    <%= form_for(@web_user, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: true, class: 'form-control' %>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <%= f.text_field :first_name, placeholder: "First Name", class: 'form-control' %>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <%= f.text_field :last_name, placeholder: "Last Name", class: 'form-control' %>
        </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %>
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-venus-mars"></i> </span>
        </div>
        <%= f.select :gender, [["Male", 0],["Female", 1]], {}, {class: 'custom-select form-control'} %>
      </div> <!-- form-group// -->
      <div class="form-group text-center">
<!--        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>-->
        <%= f.submit "Sign up", class: 'btn btn-primary ' %>
      </div>
    <% end %>
      <p class="text-center">Have an account? <%= link_to 'Log In', new_user_session_path %></p>
  </article>
  </div><!-- card -->
<%#= render "devise/shared/links" %>



