<% if @web_user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h5>
      <%= I18n.t("errors.messages.not_saved",
                 count: @web_user.errors.count,
                 resource: @web_user.class.model_name.human.downcase)
       %>
    </h5>
    <ul>
      <% @web_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @error.present? %>
  <div id="error_explanation" class="alert alert-danger">
    <p><%= @error %></p>
  </div>
<% end %>
