* {
    margin:0;
    padding:0;
}

body, html {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background-color:#fff;
    color:#000;
    font:16px 'Source Sans Pro', "Trebuchet MS", Tahoma, Arial, Geneva, Helvetica, "Lucida Sans", Trebuchet, Verdana, sans-serif;
    line-height:1.4em;
    position:relative;
}

/*color1: #3DB5D0*/

a {
    color: #08809b;
    text-decoration: none;
}

a:visited,a:hover, a:focus {
    outline:0;
    text-decoration: none;
}

h1 {
    color:#444;
}
h2,h3, h4{
    color: #555;
}
h1,h2,h3{
    margin-top: 0;

}
li, ul {
    line-height:1.8em;
}
small {
    font-size: 10px;
    font-weight: 600;
    vertical-align: sub;
}
.super{
    font-size: 10px;
    vertical-align: top;
}


#header {
    /*background-color:  rgba(45, 162, 188,0.86);*/
    /*background-color:  #3A3A3A;*/
    /*background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #3d3d3d, #212121);*/
    background: #3D3D3D; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(center top , #3d3d3d, #212121); *//* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(top, #3d3d3d, #212121); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top , #3d3d3d, #212121); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top , #3d3d3d, #212121); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top , #3d3d3d, #212121); /* Standard syntax */
    /*border-bottom: 1px solid #eee;*/
}

#header .navbar-header .navbar-toggle{
    margin-right: 20px;
    margin-top: 18px;
}

#header .navbar.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
#header .navbar-brand{
    height: auto;
    max-width: 250px;
    padding: 10px 0;
    margin: 0;
}

#header #menu {
    margin-left: 20px;
}
#header #menu.navbar-nav > li > a {
    padding-bottom: 22px;
    padding-top: 28px;
    text-transform: uppercase;
}

#header .navbar li a{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
#header .navbar-nav > li > a {
    color: #fff;
    padding-bottom: 25px;
    padding-top: 25px;
}
#header .navbar-nav .unalinks {
    margin: 15px 10px 10px 0;
    padding: 10px !important;
    text-transform: uppercase;
}
#header .nav .open>a, #header .nav .open>a:focus, #header .nav .open>a:hover{
    background-color:#4a4a4a !important;
    color:#f9f9f9 !important;
}
#header .dropdown.open .dropdown-menu{
    background-color:#fff !important;
    color:#3A3A3A !important;
    left: -25px;
}
#header .dropdown-menu > li > a{
    border-bottom: 1px dotted #c2c2bc;
    color: #555;
    margin: 0 15px;
    padding: 10px 15px;
}
#header .dropdown-menu > li:last-child a{
    border: none;
}
#header .user-nav .glyphicon{
    margin-right: 5px;
    vertical-align: text-top;
}
#header .dropdown > li > a{
    padding-top: 24px;
    padding-bottom: 24px;
}
#header .navbar-default .navbar-toggle:hover, #header .navbar-default .navbar-toggle:focus{
    background-color: transparent;
}



#sub-header .navbar-nav {
    font-family: Roboto, sans-serif;
    width: 100%;
    text-align: center;
}
#sub-header .navbar {
    min-height: 30px !important;
    background-color: #eee;
    border-color: #dedede;
}
#sub-header .navbar-nav > li {
    float: none;
    display: inline-block;
}
#sub-header .navbar-nav > li >a{
    /*border-right: 2px solid #ddd;*/
    color: #3a3a3a;
    /*color: #fff;*/
    font-size: 14px;
    padding: 5px 10px;
}
#sub-header .navbar-nav > li:last-child a{
    border: none;
}
#sub-header .navbar-nav > li > a:hover, #sub-header .navbar-nav > li > a:active, #sub-header .navbar-nav > li > a:focus{
    background-color: #3A3A3A;
    color: #fff;
}
#sub-header .navbar-nav > li.active > a{
    background-color: #3A3A3A;
    color: #fff;
}

#page {
    background: url("../../assets/images/photography.png") repeat;
    min-height: 100%;
    padding: 0;
}
#page:after {
    content: "";
    display: block;
}

#contentWrapper {
    padding-top: 10px;
}
#contentWrapper._qnac{
    padding-top: 20px;
}
#main{
    padding: 0;
}
#page .container-fluid #main{
    background-color: transparent;
    border: none;
    padding: 0;
}
#Two4ka1 {
    background-color: #3A3A3A;
    min-height: 70px;
    padding: 0 10px;
    position: relative;
}
#footer {
    color:#fff;
    font-size: 14px;
    padding-top: 15px;
}

#footer a, #footer a:visited {
    color:#fff;
    font-weight:700;
}
#pagination {
    background-color: #fff;
    /*border: 1px solid #eee;*/
    display: block;
    margin: 30px auto;
    padding: 20px;
}

.pagination a, .pagination span {
    background-color:#fff;
    border:1px solid #ddd;
    color:#333;
    display: inline-block;
    font-size:14px;
    margin:5px;
    padding:5px 10px;
}

.pagination span {
    background-color:#286090;
    color:#fff;
}
.pagination a:hover {
    background-color:#286090;
    color:#fff;
}

.cerror {
    border: 1px solid #ddd;
    font-size: 0.9em;
    margin: 50px auto;
    padding: 40px 10px;
    text-align: center;
    max-width: 700px;
}
.cerror h1 {
    color: #D2322D;
}
.cerror p {
    font-size: 1.2em;
    padding: 5px;
}


/*google ad leaderboard*/
.gad-lb {
    margin: 10px 0 0;
    text-align: center;
}