* {
    margin:0;
    padding:0;
}

body, html {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background-color:#fff;
    color:#000;
    font:16px 'Source Sans Pro', "Trebuchet MS", Tahoma, Arial, Geneva, Helvetica, "Lucida Sans", Trebuchet, Verdana, sans-serif;
    line-height:1.4em;
    position:relative;
}

a {
    color: #08809b;
    text-decoration: none;
}

a:visited,a:hover, a:focus {
    color: #555;
    outline:0;
    text-decoration: none;
}

h1 {
    color:#444;
}
h2,h3, h4{
    color: #555;
}
h1,h2,h3{
    margin-top: 0;

}
li, ul {
    line-height:1.8em;
}



#header {
    background-color:#3DB5D0;
}

#header .navbar.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
#header .navbar-brand{
    height: auto;
    max-width: 250px;
}
#header .navbar-brand > img{
    width: 100%;
}

#header #menu{
    margin-left: 20px;
}
#header .navbar-nav{
    padding-top: 10px;
}
#header .navbar li a{
    color: #fff;
    font-size: 17px;
}

#header .nav .open>a, #header .nav .open>a:focus, #header .nav .open>a:hover{
    background-color:#fff !important;
    color:#3DB5D0!important;
}
#header .dropdown.open .dropdown-menu{
    background-color:#3DB5D0 !important;
    color:#fff!important;
}
#header .dropdown-menu > li > a{
    color: #fff !important;
}
#header .dropdown-menu >li>a:hover{
    background-color:#fff !important;
    color:#3DB5D0!important;
}
#header .navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}
#header .navbar-default .navbar-toggle:hover, #header .navbar-default .navbar-toggle:focus{
    background-color: transparent;
}

#page {
    background: url("/assets/photography.png") repeat ;
    min-height: 100%;
    padding: 0;
}
#page:after {
    content: "";
    display: block;
}

#contentWrapper {
    /*background-color: #fff;*/
    /*border: 1px solid #eee;*/
    padding-top: 20px;
}
#main{
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
}
#Two4ka1 {
    background-color: #3DB5D0;
    height: 70px;
    position: relative;
}
#footer {
    padding-top: 15px;
    color:#fff;
}

#footer a, #footer a:visited {
    color:#fff;
    font-weight:700;
}
#pagination {
    display:block;
    margin:30px auto;
    padding: 0 20px;
}

.pagination a, .pagination span {
    background-color:#fff;
    border:1px solid #ddd;
    color:#333;
    display: inline-block;
    font-size:14px;
    margin:5px;
    padding:5px 10px;
}

.pagination span {
    background-color:#555;
    color:#fff;
}
