<meta itemprop="name" content="Wethementors - Providing education assistance to inquisitive minds since 2003.">
<meta itemprop="description" content="Free tutorials, java programs, study notes, quiz and solved questions for Computer, English, Mathematics, Physics, Chemistry">
<meta itemprop="image" content="https://www.wethementors.com/images/logo_brand_med.png">

<meta property="og:url" content="https://www.wethementors.com/">
<meta property="og:title" content="Wethementors - Providing educational assistance to inquisitive minds since 2003.">
<meta property="og:description" content="Free tutorials, java programs, study notes, quiz and solved questions for Computer, English, Mathematics, Physics, Chemistry">
<meta property="og:image" content="https://www.wethementors.com/images/logo_brand_med.png">
<meta property="og:image:type" content="image/png">
<meta property="fb:app_id" content="1436848579896974" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@wethementors" />
<meta name="twitter:creator" content="@wethementors" />
<meta name="twitter:title" content="Wethementors - Providing educational assistance to inquisitive minds since 2003." />
<meta name="twitter:description" content="Free tutorials, java programs, study notes, quiz and solved questions for Computer, English, Mathematics, Physics, Chemistry." />
<meta name="twitter:image" content="https://www.wethementors.com/images/logo_brand_med.png" />
