<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization" lang="en">
  <head>
    <title>Wethementors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/partials/common_meta' %>
    <%= render 'layouts/partials/default_social_meta' %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="page" class="container-fluid">
    <%= render 'layouts/partials/head_nav' %>
<!--    <?php if(isset($this->isMobile) && $this->isMobile): ?>-->
    <!-- for mobile-->
<!--    <?php require_once APPLICATION_PATH.'/../layouts/templates/ads/pagelevel_gad.php'; ?>-->
<!--    <?php else: ?>-->
    <!-- for non mobiles-->
    <div class="gad-lb text-center">
<!--      <?php-->
<!--				    require_once APPLICATION_PATH.'/../layouts/templates/ads/gad-leaderboard.php';-->
<!--			    ?>-->
    </div>
<!--    <?php endif; ?>-->

    <div id="contentWrapper" class="container">

<!--      <?php include_once APPLICATION_PATH.'/Misc/Util.php';?>-->

      <div id="main" class="col-sm-8 col-md-8 col-lg-8">
        <%= yield %>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4" id="sidebar_right">
<!--        <?php include_once APPLICATION_PATH.'/../layouts/templates/_sidebar-right-home.php'; ?>-->
      </div>

    </div>

  </div>

  </body>
</html>
