<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization" lang="en">
  <head>
    <title>Wethementors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= render 'layouts/partials/common_meta' %>
    <%#= render 'layouts/partials/default_social_meta' %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="page" class="container-fluid">
    <div id="contentWrapper" class="container">
      <div id="main" class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <%= yield %>
      </div>
    </div>

  </div>

  </body>
</html>
